*
	margin 0
	padding 0

html
	font-size 625%
	height 100%

body
	background-color #F0F0F0
	height 100%
	display flex
	overflow hidden

canvas
	display block
	margin auto
	transition width .3s, height .3s
